body {
    padding: 10px;
    font-family: Jetbrains Mono;
}

.clear{
    clear: both;
}


main {
    align-items: baseline;
}


article {
    float: left;
    width: 85%;
    padding 32px;
    border-radius: 16px 0 0 16px;

}

article .ck.ck-editor{
    max-width: 1000px;
}

article .ck.ck-editor__editable{
    min-height:500px;
}

aside {
    position: fixed;
    right: 5%;
    width: 10%;
    padding: 24px;
    border-radius: 0 16px 16px 0;
}


.btn{
  width: 100px;
  height: 30px;
  padding: 5px;
  font-size:16px;
  font-weight: bold;
  font-family:Jetbrains Mono;
  color: white;
  line-height: 30px;
  text-align: center;
  background: #CFCFCF;
  border: solid 2px #CFCFCF;
  border-radius: 10px;
  position: relative;
}

a {
  text-decoration:none !important;
  color: black;
}
a:visited .btn { color: white; }

.date{
    text-align: right;
}