<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="configFragment">
    <link rel="stylesheet" href="/static/css/web.css" />
    <link rel="stylesheet" media="(max-width: 480px)" href="/static/css/mobile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

</th:block>
</html>