<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{./layout/default_layout}">

<th block layout:fragment="script">
    <script src="/static/js/ckeditor.js"></script>
    <script src="/static/js/cls_ckeditor.js"></script>
</th>

<th block layout:fragment="css">
<style>
    .layout {
        margin-top : 40px;
        margin-left : 20%;
    }

    .layout input {
        width : 60%;
        box-sizing : border-box;
    }

</style>
</th>
<article layout:fragment="content" >
<div class="layout">
<!--    파일을 추가하기 위해서는 enctype="multipart/form-data" 부분을 적어줘야함-->
    <form name="article" id="article" action="/article/write" method="post" enctype="multipart/form-data">
        <p>
        <select name="categoryId">
            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
        </p>
        <label for="title">제목</label>
        <input required="true" type="text" id="title" name="title" placeholder="제목"><br/><br/>

        <label for="editor">내용</label>
        <textarea name="content" id="editor"></textarea>

        <input type="file" value="파일 선택" name="file">
    </form>
    <a id="submit" class="layout" href="#" th:onclick="|javascript:checkSubmit()|">작성</a>

    <script type="text/javascript">
        let newEditor;
        ClassicEditor
                .create( document.querySelector( '#editor' ), {
                    extraPlugins:[MyCustomUploadAdapterPlugin],
                 })
                .then(editor => {
                   newEditor = editor
                   console.log('CKEditor 적용 완료');
                })
                .catch(error => {
                    console.error(error);
                });

        function checkSubmit() {
            const title = document.querySelector('#title').value;
            const content = newEditor.getData();
            if (!title || title.replace(" ", "") == ""){
                alert("제목을 입력하세요");
            } else if (!content || content.replace(" ", "") == ""){
                alert("내용을 입력하세요");
            } else {
                document.querySelector('#article').submit();
            }
        }
    </script>
</div>
</article>
</html>