<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
                layout:decorate="~{./layout/default_layout}">

<th block layout:fragment="css">
    <style>
    .boardList {
        width : 1000px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .under {
        text-align: center;
        left: 10%;
    }
    </style>
</th>
<th block layout:fragment="script"></th>

<article layout:fragment="content">
    <table class="boardList">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}">
            <td style="width:15%" th:text="${article.id}"></td>
            <td style="width:85%">
                <a th:text="${article.title}" th:href="@{/article/view/{id}(id = ${article.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table><br>
    <a class="under btn" th:href="@{/article/write}">글 쓰기</a><br/>
    <div class="under">
    <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <a class="under" th:if="${page != curPage}" th:href="@{/article/list(page = ${page -1})}" th:text="${page}"></a>
        <strong class="under" th:if="${page == curPage}" th:text="${page}" style="color : red"></strong>
    </th:block>
    </div>
</article>
</html>