<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<script src="/static/js/ckeditor.js"></script>
<script src="/static/js/cls_ckeditor.js"></script>
<script type="text/javascript">

</script>

<style>
    .layout {
        width : 1000px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width : 100%;
        box-sizing : border-box;
    }

    .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }

    .ck.ck-editor{
        max-width: 1000px;
    }

    .ck.ck-editor__editable{
        min-height:500px;
    }

</style>
<body>
<div class="layout">
    <form name="article" th:action="@{/article/modify/{id}(id=${article.id})}" method="post">
        <p>
            <select name="categoryId">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </p>
        <label for="title">제목</label>
        <input required="true" type="text" id="title" name="title" th:value="${article.title}"><br/>

        <label for="editor">내용</label>
        <textarea name="content" id="editor" th:text="${article.content}"></textarea>

        <input type="file" value="파일 선택" name="file" th:value="${article.}">
    </form>
    <a id="submit" class="layout" href="#" th:onclick="|javascript:checkSubmit()|">수정</a>

    <script type="text/javascript">
        let newEditor;
        ClassicEditor
                .create( document.querySelector( '#editor' ), {
                    extraPlugins:[MyCustomUploadAdapterPlugin],
                 })
                .then(editor => {
                   newEditor = editor
                   console.log('CKEditor 적용 완료');
                })
                .catch(error => {
                    console.error(error);
                });

        function checkSubmit() {
            const title = document.querySelector('#title').value;
            const content = newEditor.getData();
            if (!title || title.replace(" ", "") == ""){
                alert("제목을 입력하세요");
            } else if (!content || content.replace(" ", "") == ""){
                alert("내용을 입력하세요");
            } else {
                document.querySelector('#article').submit();
            }
        }
    </script>
</div>
</body>
</html>