body {
    padding: 10px;
    font-family: Jetbrains Mono;
}

.clear{
    clear: both;
}


main {
    align-items: baseline;
}


article {
    float: left;
    width: 85%;
    padding 32px;
    border-radius: 16px 0 0 16px;

}

article .ck.ck-editor{
    max-width: 1000px;
}

article .ck.ck-editor__editable{
    min-height:500px;
}

aside {
    float: left;
    width: 10%;
    padding: 24px;
    border-radius: 0 16px 16px 0;
}