<!DOCTYPE HTML>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width : 100%;
        box-sizing : border-box;
    }

    .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }

</style>
<body>
<div class="layout">
    <form name="article" action="" method="post">

            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목">

            <label for="content">제목</label>
            <textarea id="content" name="content" placeholder="내용을 입력하세요"></textarea>

            <input type="submit" value="작성">


    </form>
</div>
</body>
</html>