<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<style>
    .boardList {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

</style>
<body>
<div>
    <table class="boardList">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}">
            <td th:text="${article.id}"></td>
            <td >
                <a th:text="${article.title}" th:href="@{/article/view/{id}(id = ${article.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>